{:aliases
 {:dev {:extra-deps {thheller/shadow-cljs {:mvn/version "2.25.5"}}
        :extra-paths ["example_src" "src"]}}
 :paths ["resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/core.async {:mvn/version "1.6.681"}
  sablono/sablono {:mvn/version "0.8.6"}
  reagent/reagent {:mvn/version "1.2.0"}
  markdown-clj/markdown-clj {:mvn/version "1.11.4"}
  }}
