{:aliases
 {:dev {:deps {thheller/shadow-cljs {:mvn/version "2.25.5"}}
        :extra-paths ["example_src" "src"]}}
 :deps
 {org.clojure/clojure {:mvn/version "1.8.0"}
  org.clojure/clojurescript {:mvn/version "1.10.339"}
  org.clojure/core.async  {:mvn/version "0.4.474"}
  sablono/sablono {:mvn/version "0.8.6"}}}
