{:deps {:aliases [:dev]}

 :http {:port 9640}

 :dev-http {8021 ["example-resources/public" "classpath:public"]}

 :builds {:devcards-demos {:output-dir "example-resources/public/devcards/js/compiled"
                           :target :browser
                           :asset-path "js/compiled"
                           :modules {:devdemos {:default true
                                                :init-fn devdemos.start-ui/main}}
                           :compiler-options {:infer-externs :auto
                                              :pseudo-names true
                                              :devcards true
                                              :main "devdemos.start-ui"
                                              :asset-path "js/compiled/out"
                                              :output-to "example-resources/public/devcards/js/compiled/devdemos.js"
                                              :output-dir "example-resources/public/devcards/js/compiled/out"
                                              :recompile-dependents false
                                              :preloads [devtools.preload]
                                              :optimizations :none
                                              :source-map-timestamp true
                                              }}}}
