.com-rigsomelight-rendered-edn .keyval > .keyword {
   color: rgb(196,33,0);
   padding-right: 10px;
}

.com-rigsomelight-rendered-edn .collection {
    position: relative;
}

.com-rigsomelight-rendered-edn .vector,
.com-rigsomelight-rendered-edn .set,
.com-rigsomelight-rendered-edn .seq  {
    padding-left: 0.9em;
    padding-right: 0.9em;
}

.com-rigsomelight-rendered-edn .set { 
    padding-left: 1.2em;
}


.com-rigsomelight-rendered-edn .collection.map {
    padding: 1.8em;
    display: inline-block; 
    vertical-align: top;
}

.com-rigsomelight-rendered-edn .vector,
.com-rigsomelight-rendered-edn .set,
.com-rigsomelight-rendered-edn .seq {
    display: inline-block;
    vertical-align: top;
}

.com-rigsomelight-rendered-edn .vector > .contents {
    background-color: rgba(0,0,0,0.01);
}

.com-rigsomelight-rendered-edn .keyval {
    display: inline-block;
}

.com-rigsomelight-rendered-edn .collection.map > .contents > .separator  {
  padding-right: 10px;
}

.com-rigsomelight-rendered-edn .collection .collection > .contents {
 /*  background-color: rgba(0,0,0,0.02); */
}

.com-rigsomelight-rendered-edn .collection .contents > .collection:nth-child(even) {
  background-color: rgba(0,0,0,0.04);
}

.com-rigsomelight-rendered-edn .contents {
    display: inline-block;
}

.com-rigsomelight-rendered-edn .opener, 
.com-rigsomelight-rendered-edn .closer {
   color: #999;  
}

.com-rigsomelight-rendered-edn .collection.map > .opener,
.com-rigsomelight-rendered-edn .collection.vector > .opener,
.com-rigsomelight-rendered-edn .collection.seq > .opener,
.com-rigsomelight-rendered-edn .collection.set > .opener { 
   position: absolute;
   top: 0px;
   left: 3px;
}
.com-rigsomelight-rendered-edn .collection.map > .closer {
   position: absolute;
   bottom: 0px;
   left: 3px;
   display: block;
}

.com-rigsomelight-rendered-edn .collection.vector > .closer,  
.com-rigsomelight-rendered-edn .collection.seq > .closer,  
.com-rigsomelight-rendered-edn .collection.set > .closer {
   position: absolute;
   bottom: 0px;
   right: 0px;
   display: block;
}