body {
    background-color: rgb(233,234,237);
}

.white-background {
  background-color: #fff;
}

.devcards-compile-failed {
  background-color: #a94442;
  #_background-color: #f2dede;
}

.devards-main-navbar {
  background-color: rgb(60,90,153);
  border-color: rgb(50,80,153);
}

.devards-main-navbar .navbar-brand {
  color: #e8e8e8;
}

.devards-main-navbar .navbar-brand:hover {
  color: #e8e8e8;
}

.test-body {
    padding-left: 1em;
    display: inline-block;
}
.test-body .result-area {
    padding-left: 40px;
    display: inline-block;
}

.test-body .operator {
    font-weight: bold;
    color: black;
    width: 1.5em;
    position: absolute;
    left: 41px;
}

.glyphicon.test-icon {
  position: absolute;
  top: 14px;
}

.test-body .exp {
    color: #666;
    padding-right: 1em;
    display: inline-block;
}

.test-group .explain {
  display: inline-block;
}

.test-group .explain .code {
    font-weight: bold;
    color: black;
    font-family: monospace;
    display: inline-block;
}

.devcard-panel {
/*    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    border: 1px solid #ddd;
    -webkit-box-shadow: 1px 1px 1px #bbb;
    box-shadow: 1px 1px 1px #bbb;
*/
background: #fff;
border: 1px solid;
border-color: #e5e6e9 #dfe0e4 #d0d1d5;
-webkit-border-radius: 3px;
}



.breadcrumb {
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    
}

.devcard-panel > .panel-heading {
  background-color: #fff;
  border-top: solid 1px #f1f1f1;
  border-bottom: solid 1px #f1f1f1;
  border-bottom: none;
 
}  

.devcard-panel > .panel-heading .devcard-rendered-card h1:first-child,
.devcard-panel > .panel-heading .devcard-rendered-card h2:first-child,
.devcard-panel > .panel-heading .devcard-rendered-card h3:first-child,
.devcard-panel > .panel-heading .devcard-rendered-card h4:first-child,
.devcard-panel > .panel-heading .devcard-rendered-card h5:first-child {
    margin-top: 5px;
}

.test-group > .list-group-item {
  border: none;
  border-top: solid 1px #fafafa;  
}

.test-group > .list-group-item:first-child {
  border: none;
  border-top: none;  
}



.list-group.test-group > .list-group-item:first-child,
.list-group.test-group > .list-group-item:last-child {
  border-radius: 0px;
}

.list-group.test-group .list-group-item {
  
}

.devcard-padding {
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
}

#devcards {
    padding-bottom: 250px;
    
}

.devcard-rendered-card ul.test-group {
  margin-bottom: 0px;
}

.devcard-rendered-card .heckler-card .table {
  margin-bottom: 0px;
}

.heckler-card .table > tbody > tr > td:first-child,
.heckler-card .table > tbody > tr > th:first-child {
  padding-left: 14px;
}

.devcard-rendered-card .history-manager > .rendered-edn {
  padding-left: 14px; 
  padding-bottom: 14px; 
}

.devcards-pad-left {
  padding-left: 14px;
}

.devcards-margin-left {
  margin-left: 14px;
}

.devcards-pad-card {
  padding: 14px;
}

.devcards-load-highlight {
  -webkit-animation: load-highlight-white 1.3s;
}

.devcards-cssload-highlight {
  -webkit-animation: load-highlight-yellow 1.3s;
}

.white-background .devcards-load-highlight {
  -webkit-animation: load-highlight-grey 1.3s;
}

@-webkit-keyframes load-highlight-white {
  20%   { background-color: #fff; }
//  20%   { background-color: rgba(60,118,61,0.1);}
}

@-webkit-keyframes load-highlight-grey {
  20%   { background-color: rgb(233,234,237); }
}

@-webkit-keyframes load-highlight-yellow {
  20%   { background-color: #fcf8e3;}
}
